[submodule "vendor/list"]
	path = vendor/list
	url = https://github.com/pkufeldt/list.git
[submodule "vendor/protobuf-c"]
	path = vendor/protobuf-c
	url = https://github.com/protobuf-c/protobuf-c.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/kinetic.proto"]
	path = vendor/kinetic.proto
	url = https://github.com/Kinetic/kinetic-protocol.git
